body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fff;
}
html, body, #root {
  height: 100%;
}

.app-container {
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100vh;
}

.search-card {
  margin-bottom: 20px;
}
